#content {
    position: relative;
    float: left;
    width: calc(100% - 175px);
    height: 100vh;
    overflow: scroll;
}

.content {
    &-wrapper {
        @include clearfix;
        padding: 60px;
        min-height: 100vh;
        height: 100%;
    }
}

.introduction {
    font-family: $HeadingCopyBold;
    font-size: 1.32rem;

    p {
        line-height: 1.4;
    }
}
