.tile {
    float: left;
    margin-bottom: 3.5%;
    margin-left: 5%;
    width: 47.5%;
    height: 48.25%;
    overflow: auto;

    .how-we-work & {
        &:nth-child(2n + 1) {
            margin-left: 0;
        }
    }

    .what-we-do & {
        margin-bottom: 1%;
        margin-left: 1%;
        padding: 30px;
        width: 32.66666%;
        height: 49.5%;
        background: $grey-light-alt;

        &:nth-child(3n + 1) {
            margin-left: 0;
        }
    }
}
