/* Variables */
$assetPath: '/assets/';
$fontPath: $assetPath + 'fonts/';
$imagePath: $assetPath + 'images/';


/* Breakpoints */
$extraSmallScreen: 320px;
$smallScreen: 480px;
$mediumScreen: 850px;
$largeScreen: 1024px;
$wideScreen: 1200px;

/* Colours */
// brand
$bio-grey: #2e2d2c;
$bio-green: #daf400;

// style
$background: #efefef;
$copy: #333;

// general
$grey-light: #d3d2cf;
$white: #fff;


/* Animation */
$transition-duration: 0.5s;
$easing: ease-out;


/* Fonts */
$BodyFont: 'Futura Light';
@include font-face($name: $BodyFont, $filename: 'futura_light-webfont');
$BodyCopy: $BodyFont, Helvetica, Arial, sans-serif;

$HeadingFontLight: 'VAG Rounded Light';
@include font-face($name: $HeadingFontLight, $filename: 'vag_rounded_light-webfont');
$HeadingCopyLight: $HeadingFontLight, Helvetica, Arial, sans-serif;

$HeadingFontBold: 'VAG Rounded Bold';
@include font-face($name: $HeadingFontBold, $filename: 'vag_rounded_bold-webfont');
$HeadingCopyBold: $HeadingFontBold, Helvetica, Arial, sans-serif;
