/* Variables */
$assetPath: '/assets/';
$fontPath: $assetPath + 'fonts/';
$imagePath: $assetPath + 'images/';


/* Breakpoints */
$extraSmallScreen: 320px;
$smallScreen: 480px;
$mediumScreen: 850px;
$largeScreen: 1024px;
$wideScreen: 1200px;

/* Colours */
// brand
$bio-grey: #2e2d2c;
$bio-green: #daf400;

// style
$background: #efefef;
$copy: #333;

// general
$grey-light: #d3d2cf;
$grey-light-alt: #ebebeb;
$grey-medium: #3f3f3f;
$white: #fff;


/* Animation */
$transition-duration: 0.5s;
$easing: ease-out;


/* Fonts */
// body copy
@include font-face($name: 'Futura Light', $filename: 'futura_light-webfont');
$BodyCopy: 'Futura Light', Helvetica, Arial, sans-serif;

// headings
@include font-face($name: 'VAG Rounded Light', $filename: 'vag_rounded_light-webfont');
$HeadingCopyLight: 'VAG Rounded Light', Helvetica, Arial, sans-serif;

@include font-face($name: 'VAG Rounded Bold', $filename: 'vag_rounded_bold-webfont');
$HeadingCopyBold: 'VAG Rounded Bold', Helvetica, Arial, sans-serif;
