.nav {
    ul {
        @include reset-list;

        &:empty {
            display: none;
        }

        a {
            display: block;
            padding: 10px 15px;
            color: $grey-light;
            font-family: $HeadingCopyBold;
            font-size: 0.8rem;
            line-height: 0.8rem;
            text-transform: uppercase;
        }

        ul {
            background: $grey-medium;

            a {
                padding-left: 25px;
                text-transform: none;
            }
        }
    }
}
